@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-bg-color: #dadada;
  --secondary-color: #f5f5f5;
  --btn-color-blue: #557cff;
  --btn-color-pink: #ff55d2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  scroll-behavior: smooth;
  color: #000;
  background: #fefae0;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input {
  border: none;
}

button {
  border: none;
}

main {
  padding: 32px 64px;
  max-width: 1024px;
  margin: 0 auto;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #565751;
}

.canvas {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 90dvh;
  pointer-events: none;
  transform: translateX(-25%);
  margin-top: 64px;
  /* background: #FEFAE0; */
  /* z-index: 1; */
}

.our-products {
  margin-top: 128px;
  text-align: center;
  font-size: 81px;
  text-transform: uppercase;
  color: #8e8234;
  margin-bottom: 64px;
}

.products__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 3px solid #2d5605;
  margin: 0 64px;
  border-radius: 50px;
}

.products__description {
  padding-left: 128px;
  position: absolute;
  right: 0;
  height: 100%;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  justify-self: flex-end;
  margin-top: -64px;
}

.products__description h5 {
  color: #8e8234;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}

.products__description h3 {
  color: #2d5605;
  font-size: 36px;
  margin: 16px 0;
  text-transform: capitalize;
  font-weight: 600;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: #1c1c1c;
  line-height: 130%;
  max-width: 600px;
  margin-bottom: 32px;
}

.products__description button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 16px 36px;
  color: #ffffff;
  border-radius: 20px;
  background-color: #2d5605;
  cursor: pointer;
}

button:hover {
  background-color: #557cff;
}

.product__title {
  margin: 32px 0;
  color: #2d5605;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}

.products__select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.product__img {
  background-color: #e6dfb4;
  padding: 15px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.product__img:hover {
  background-color: #ffeb73;
}

/* Hero */

.hero {
  padding: 0 64px;
  height: 100dvh;
}

.backgroun-img{
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100dvh;
  z-index: -1;
  pointer-events: none;
}

.heroCanvas {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  /* background: url("/imgs/heroBackground.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  background: url("/imgs/heroBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100dvh;
  z-index: -4;
  pointer-events: none;
}

.logo {
  margin-top: 250px;
}

.hero p {
  max-width: 700px;
  color: #fff;
  font-size: 20px;
  z-index: 99;
  margin: 32px 0;
}

.hero button {
  padding: 16px 32px;
  text-transform: uppercase;
  color: white;
  background-color: #2d5605;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 99;
}

.foreground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}

.hero-blur{
  position: absolute;
  top: -0%;
  right: 0;
  z-index: -2;
}

.gradient-overlay {
  pointer-events: none;
  height: 125px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(254, 250, 224, 1) 100%
  );
}

/* Testimonial */

.testimonial-header {
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  margin-top: 128px;
  color: #D3B600;
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: auto;
  width: 300vw;
  transition: 0.5s;
}

.testimonials {
  text-align: center;
  background: #132A13;
  padding: 60px 0;
  box-sizing: content-box;
  margin: 64px 0 228px;
  position: relative;
}


.testimonial {
  position: relative;
  width: 100vw;
}

.testimonial-btn {
  z-index: 2;
  top: 50%;
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.testimonial-btn button {
  margin: 0 15px;
  background: none;
  cursor: pointer;
}

.testimonial-btn button img {
  width: 100%;
  height: 100%;
}
.testimonial-btn button:first-child img {
  rotate: 180deg;
}

.testimonials h1 {
  color: #D3B600;
  font-family: Limelight;
  font-size: 177.429px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%; /* 141.943px */
  margin-bottom: -40px;
}

.testimonials p {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 900px;
  margin: 32px auto;
}

.testimonials h3 {
  color: #D3B600;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}







.first-product{
  margin-top: -124px;  
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second-product{
  margin-top: -96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info{
  margin-top: -32px;
}

.info h2{
  font-size: 56px;
  color: #8E8234;
  max-width: 627px;
  line-height: 110%;
  text-transform: capitalize;
}

.info p {
  max-width: 582px;
  font-size: 18px;
  margin-top: 24px;
}


/* Oil info */

.oil-section{
  display: flex;
  justify-content: center;
}

.oil-info{
  margin-top: 196px;
  display: flex;
}

.second-section{
  margin-left: 68px;
}

.oil-info h4{
  font-size: 32px;
  color: #8E8234;
  line-height: 110%;
  text-transform: capitalize;
  margin-left: 64px;
}

.oil-info p {
  font-size: 18px;
  color: #3A3A3A;
  max-width: 360px;
  margin-left: 64px;
  margin-top: 16px;
}

.oile-line{
  width: 3px;
  background: linear-gradient(0deg, rgba(142,130,52,0) 0%, rgba(142,130,52,1) 50%, rgba(142,130,52,0) 100%);
  margin-left: 42px;
  margin-right: 60px;
}

.oil-description{
  display: flex;
  flex-direction: column;
  padding-right: 64px;
  padding-top: 64px;
}

.oil-description h2{
  color: #D3B600;
  font-size: 72px;
  max-width: 530px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.oil-description p{
  max-width: 500px;
  margin: 0;
}

.footer{
  display: flex;
  justify-content: space-around;
  margin-top: 124px;
  padding: 132px 64px 32px;
  background-color: #111E26;
  border-radius: 100px 100px 0 0;
}

.footer-logo{
  width: 200px;
  margin-top: -32px;
}

.footer-column{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer p{
  margin: 16px 0;
  font-size: 16px;
  color: #D1D1D1;
  max-width: 266px;
}

.footer h4{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.footer a{
  font-size: 16px;
  color: #D1D1D1;
  text-decoration: none;
}

.footer a:hover{
  color: #fff;
}

.social-media img{
  margin-right: 12px;
}

.call-link{
  display: flex;
  align-items: center;
  gap: 10px;
}

.last-column p {
  margin: 0;
}