@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: 'Bunga Tester';
  src: url('./fonts/bunga-regular.otf') format('opentype'); 
}

:root {
  --main-bg-color: #dadada;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  scroll-behavior: smooth;
  color: #000;
  background: #FAFFF6;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input {
  border: none;
}

button {
  border: none;
}

main {
  padding: 32px 64px;
  max-width: 1024px;
  margin: 0 auto;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #565751;
}

.canvas {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  transform: translateX(-25%);
  /* margin-top: 64px; */
  /* background: #FEFAE0; */
  /* z-index: 1; */
}

.product{
  max-width: 1920px;
  margin: 0 auto;
  padding: 64px;
  overflow: hidden;
}

.our-products {
  margin-top: 64px;
  text-align: center;
  font-size: 81px;
  text-transform: uppercase;
  color: #8e8234;
  margin-bottom: 64px;
}

.products__container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 3px solid #2d5605;
  border-radius: 50px;
}

.products__description {
  padding-left: 128px;
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  justify-self: flex-end;
  margin-top: -64px;
  padding-right: 32px;
}

.products__description h5 {
  color: #8e8234;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
}

.products__description h3 {
  color: #2d5605;
  font-size: 36px;
  margin: 16px 0;
  text-transform: capitalize;
  font-weight: 600;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: #1c1c1c;
  line-height: 130%;
  max-width: 600px;
  margin-bottom: 32px;
}

.products__description button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 16px 36px;
  color: #ffffff;
  border-radius: 20px;
  background-color: #2d5605;
  cursor: pointer;
}

button:hover {
  background-color: #557cff;
}

.product__title {
  margin: 32px 0;
  color: #2d5605;
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
}

.products__select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.product__img {
  background-color: #e6dfb4;
  padding: 15px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 200px;
  aspect-ratio: 2 / 2.5;
}

.product__img img{
  width: 100%;
  height: 100%;
}

.product__img:hover {
  background-color: #ffeb73;
}



/* Hero */

.hero {
  padding: 0 64px;
  height: 100dvh;
  max-width: 1312px;
}

.hero-title{
  margin-top: 100px;
  font-family: "Bunga Tester";
  font-size: 210px;
  color: #FFDC00;
  line-height: 90%;
  margin-bottom: -30px;
}

.backgroun-img{
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100dvh;
  z-index: -1;
  pointer-events: none;
}

.heroCanvas {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  z-index: -1;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  background: url("/imgs/heroBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -4;
  pointer-events: none;
}

.logo {
  margin-top: 36px;
  /* width: 320px; */
}

.hero p {
  max-width: 700px;
  color: #fff;
  font-size: 20px;
  z-index: 99;
  margin: 32px 0;
}

.hero button {
  padding: 16px 32px;
  text-transform: uppercase;
  color: white;
  background-color: #BBA100;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 99;
}

.foreground {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}

.hero-blur{
  position: absolute;
  top: -0%;
  right: 0;
  z-index: -2;
}

.gradient-overlay {
  pointer-events: none;
  height: 125px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(254, 250, 224, 1) 100%
  );
}

/* Testimonial */

.benefits{
  position: relative;
}

.leaf__img{
  position: absolute;
  bottom: -64px;
  left: 100px;
  pointer-events: none;
}

.leaf__img-right{
  position: absolute;
  bottom: -100px;
  right: 100px;
  pointer-events: none;
}

.testimonial-header {
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  margin-top: 128px;
  color: #D3B600;
}

.slider-wrapper {
  position: relative;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow-x: auto;
  width: 300vw;
  transition: 0.5s;
}

.testimonials {
  text-align: center;
  background: #132A13;
  padding: 60px 0;
  box-sizing: content-box;
  margin: 64px 0 228px;
  position: relative;
  overflow: hidden;
}


.testimonial {
  position: relative;
  width: 100vw;
}

.testimonial-btn {
  z-index: 2;
  top: 50%;
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.testimonial-btn button {
  margin: 0 15px;
  background: none;
  cursor: pointer;
}

.testimonial-btn button img {
  width: 100%;
  height: 100%;
}
.testimonial-btn button:first-child img {
  rotate: 180deg;
}

.testimonials h1 {
  color: #D3B600;
  font-family: Limelight;
  font-size: 177.429px;
  font-style: normal;
  font-weight: 400;
  line-height: 80%; /* 141.943px */
  margin-bottom: -40px;
}

.testimonials p {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  max-width: 900px;
  margin: 32px auto;
}

.testimonials h3 {
  color: #D3B600;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.features{
  background-image: url("/imgs/featuresBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 124px 0 230px;
  color: #fff;
}

.features-description{
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.features-section{
  margin-top: 94px;
}

.features h4{
  font-size: 24px;
  text-transform: capitalize;
  color: #D3B600;
}

.features p{
  color: #fff;
  margin-top: 10px;
  font-size: 17px;
}

.feature-number{
  display: inline-block;
  width: 44px;
  height: 32px;
  background: #D3B600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #393939;
  font-size: 16px;
}

.features-row{
  display: flex;
}

.features h4{
  display: inline-block;
}

.features h1{
  text-align: center;
  font-size: 81px;
  text-transform: uppercase;
  color: #ffffff;
}

.features-container{
  display: flex;
  gap: 52px;
  flex-direction: column;
  max-width: 460px;
}

.features-section{
  display: flex;
  justify-content: center;
  gap: 200px;
}

.first-product{
  margin-top: -124px;  
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.second-product{
  margin-top: -96px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info{
  margin-top: -32px;
}

.info h2{
  font-size: 56px;
  color: #8E8234;
  max-width: 627px;
  line-height: 110%;
  text-transform: capitalize;
}

.info p {
  max-width: 582px;
  font-size: 18px;
  margin-top: 24px;
}


/* Oil info */

.oil-section{
  display: flex;
  justify-content: center;
}

.oil-info{
  margin-top: 196px;
  display: flex;
}

.second-section{
  margin-left: 68px;
}

.oil-info h4{
  font-size: 32px;
  color: #8E8234;
  line-height: 110%;
  text-transform: capitalize;
  margin-left: 64px;
}

.oil-info p {
  font-size: 18px;
  color: #3A3A3A;
  max-width: 360px;
  margin-left: 64px;
  margin-top: 16px;
}

.oile-line{
  width: 3px;
  background: linear-gradient(0deg, rgba(142,130,52,0) 0%, rgba(142,130,52,1) 50%, rgba(142,130,52,0) 100%);
  margin-left: 42px;
  margin-right: 60px;
}

.oil-description{
  display: flex;
  flex-direction: column;
  padding-right: 64px;
  padding-top: 64px;
}

.oil-description h2{
  color: #D3B600;
  font-size: 72px;
  max-width: 530px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.oil-description h3{
  color: #a09440;
  font-size: 16px;
  max-width: 530px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.oil-description p{
  max-width: 500px;
  margin: 0;
  color: #000;
}

.oil-description span{
  font-weight: 700;
  color: #938423;
}

.last-section{
  margin-top: 124px;
  height: 460px;
  /* background-image: url("/imgs/lastSectionBg.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-section h1{
  font-size: 64px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 120%;
}

.footer{
  display: flex;
  justify-content: space-around;
  margin-top: 124px;
  padding: 132px 64px 32px;
  background-color: #111E26;
  border-radius: 100px 100px 0 0;
  gap: 20px;
}

.footer-logo{
  width: 200px;
  margin-top: -32px;
}

.footer-column{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer p{
  margin: 16px 0;
  font-size: 16px;
  color: #D1D1D1;
  max-width: 266px;
}

.footer h4{
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.footer a{
  font-size: 16px;
  color: #D1D1D1;
  text-decoration: none;
}

.footer a:hover{
  color: #fff;
}

.social-media img{
  margin-right: 12px;
}

.call-link{
  display: flex;
  align-items: center;
  gap: 10px;
}

.last-column p {
  margin: 0;
}

@media screen and (max-width: 1024px){
  .canvas{
    transform: translateX(0);
  }

  .background{
    background-position: right;
  }

  .features{
    padding: 100px 32px 160px;
    margin-bottom: 128px;
  }

  .features h1{
    font-size: 64px;
  }

  .feature-number{
    width: 40px ;
    height: 24px ;
    font-size: 14px;
  }

  .products__container{
    align-items: flex-end;
  }

  .products__description{
    width: 100%;
    padding: 0 16px 0 0;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    text-align: center;
    padding-bottom: 24px;
  }

  .products__select {
    gap: 20px;
  }

  .testimonial h1{
    font-size: 80px;
    margin-bottom: 0px;
  }
  .testimonial h3{
    font-size: 24px;
    margin-top: 20px;
  }

  .testimonial p{
    font-size: 20px;
    line-height: 140%;
    max-width: 600px;
  }

  .testimonial-btn button img{
    width: 60px;
  }

  .leaf__img{
    bottom: -64px;
    left: 32px;
    width: 120px;
  }

  .leaf__img-right{
    width: 180px;
    right: 32px;
  }
  
  .first-product img{
    width: 500px;
  }

  .second-product img{
    width: 500px;
  }
  .first-product{
    padding: 0 16px;
  }

  .second-product {
    padding: 0 16px;
    margin-top: -32px;
  }

  .info h2{
    font-size: 46px;
  }

  .oil-info img{
    width: 250px;
  }

  .oil-info h4{
    margin-left: 32px;
  }
  .oil-info p{
    margin-left: 32px;
  }

  .second-section {
    margin-left: 32px;
  }

  .oil-description p{
    margin-left: 0;
    margin-bottom: 16px;
  }

  .footer{
    padding: 124px 32px 32px;
  }

}


@media screen and (max-width: 768px){

  .hero{
    padding: 0 16px;
  }

  .hero h1{
    font-size: 150px;
  }

  .hero p{
    font-size: 16px;
  }

  .hero button{
    font-size: 16px;
    padding: 12px 24px;
  }
  
  .features{
    padding: 100px 32px 160px;
    margin-bottom: 128px;
  }

  .features h1{
    font-size: 52px;
  }

  .features-section{
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  .feature-number{
    width: 60px ;
    height: 28px ;
    font-size: 14px;
  }

  .product{
    padding: 0 16px;
  }

  .products__container {
    margin: 0 16px;
  }

  .products__select{
    padding: 0 16px;
    gap: 10px;
  }

  .testimonial-header{
    font-size: 48px;
  }

  .testimonials{
    padding: 24px 0;
  }

  .testimonials p{
    line-height: 120%;
    max-width: 500px;
  }

  .testimonial-btn button{
    margin: 0 10px;
    padding: 4px;
  }

  .testimonial-btn button img{
    width: 50px;
  }
  
  .first-product img{
    width: 350px;
  }

  .second-product img{
    width: 350px;
  }
  .first-product{
    padding: 0 16px;
  }

  .second-product {
    padding: 0 16px;
    margin-top: 16px;
  }

  .info{
    margin-top: 0;
  }

  .info h2{
    font-size: 36px;
  }

  .info p {
    font-size: 16px;
    margin-top: 16px;
  }

  .oil-info img{
    width: 200px;
  }

  .oil-info h4{
    margin-left: 16px;
  }
  .oil-info p{
    margin-left: 16px;
  }

  .first-section{
    margin-left: 16px;
  }

  .second-section {
    margin-left: 16px;
  }

  .oile-line{
    margin: 0 30px 0 20px;
  }

  .oil-description p{
    margin-left: 0;
    margin-bottom: 16px;
  }

  .oil-info h4{
    margin-top: 20px;
    font-size: 24px;
  }
  .oil-info p{
    font-size: 16px;
    margin-top: 12px;
  }

  .oil-description h2{
    font-size: 36px;
  }

  .footer{
    padding: 124px 32px 32px;
  }
}

@media screen and (max-width: 500px){
  .product{
    padding: 0;
  }

  .features h1{
    font-size: 36px;
  }

  .features{
    padding: 64px 16px 100px;
    margin-bottom: 128px;
  }

  .features-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0px;
  }

  .features-container{
    gap: 0;
  }

  .leaf__img{
    bottom: -48px;
    left: 16px;
    width: 80px;
  }

  .leaf__img-right{
    bottom: -60px;
    width: 120px;
    right: 16px;
  }

  .logo{
    width: 300px;
  }

  .hero{
    padding: 0 16px;
  }

  .hero button{
    font-size: 14px;
  }

  .our-products{
    font-size: 46px;
  }

  .products__description{
    padding: 0 16px 16px; 
  }

  .products__description p{
    font-size: 16px;
    line-height: 130%;
  }
  .products__description button{
    font-size: 14px;
    padding: 14px 28px;
  }

  .testimonial-btn button img{
    width: 30px;
  }

  .product__img{
    border-radius: 20px;
  }

  .products__select{
    padding: 0;
  }

  .testimonial-header{
    margin-top: 64px;
    font-size: 32px;
  }
  

  .testimonials p{
    line-height: 130%;
    max-width: 280px;
    font-size: 14px;
    margin: 16px auto;
  }

  .testimonial h1{
    font-size: 50px;
    margin-bottom: -10px;
  }
  .testimonial h3{
    font-size: 18px;
    margin-top: 10px;
  }

  .testimonial-btn button{
    margin: 0 10px;
    padding: 4px 0px;
  }

  .first-product{
    flex-direction: column-reverse;
  }
  .second-product{
    flex-direction: column;
    gap: 20px;
  }

  .oil-info {
    flex-direction: column;
    margin-top: 96px;
  }
  .oil-info h4{
    margin: 12px 0 0;
  }

  .oil-info p{
    margin: 12px 0 0;
  }

  .first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  .second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 32px 0 0;
  }

  .oil-description{
    margin-top: 32px;
    padding: 16px;
  }

  .footer{
    flex-direction: column;
    gap: 32px;
  }

}